@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none; }

button {
  border: none;
  background: none;
  cursor: pointer; }

body {
  background-image: linear-gradient(#8fb9a8, #fefad4);
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh; }

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; }

#entrySection {
  display: flex;
  font-size: 2rem;
  margin: 1rem;
  justify-content: center; }

form {
  font-size: 1rem; }

.todo-container {
  display: flex;
  justify-content: center; }

.todo-list {
  min-width: 30%; }

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 30%;
  margin: 0.5rem 0;
  background: #fff;
  color: #000; }
  .todo-item.done {
    text-decoration: line-through;
    opacity: .5;
    transition: all .5s ease; }
  .todo-item.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    transition: all .5s ease; }

.todo-info {
  font-size: 1.5rem;
  padding: 0 0.5rem; }

.todo-input, .todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff; }

.todo-nav {
  display: flex; }

.todo-check, .todo-trash {
  background: #f1828d;
  color: #fff;
  padding: 1rem;
  font-size: 1rem; }

.todo-check {
  background: #8fb9a8; }

.todo-button {
  background: #fbb998;
  color: #fff;
  transition: all 0.3s ease; }
  .todo-button:hover {
    background: #faaf89; }

.fa-trash,
.fa-check {
  pointer-events: none; }

select {
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  background: none;
  appearance: none;
  border: none;
  box-shadow: none;
  color: #ff6f47; }

.select {
  margin: 1rem;
  background: #fff;
  position: relative;
  overflow: hidden; }

.select::after {
  content: "\25BC";
  position: absolute;
  background: #fbb998;
  color: #fff;
  padding: 1rem;
  top: 0;
  right: 0;
  pointer-events: none; }
